@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    /*       PRIMARY     */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    /*      ACCENT      */
    --blue: hsl(248, 32%, 49%);

    /*      Neutral     */
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);


    --font-family: 'Poppins', sans-serif;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    margin: 0;
    background-image: url('./images/bg-intro-mobile.png');
    background-repeat: no-repeat;
    background-color: var(--red);
}

.text {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.text-title {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    line-height: 35px;
    margin: 1rem 0;
}

.text-content {
    color: white;
    font-weight: 500;
    margin: 1rem 0;
}

.form {
    width: 85%;
    margin: 0 auto;
    padding-top: 1rem;
    margin-bottom: 3rem;
}

.form__text {
    color: white;
    text-align: center;
    background-color: var(--blue);
    padding: 1rem 3rem;
    margin-bottom: 1.7rem;
    border-radius: 10px;
    box-shadow: 0px 5px 1px #d05a5a;
}

.form__text em {
    font-weight: 600;
    font-style: normal;
}

.form__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1.3rem;
    box-shadow: 0px 5px #d05a5a;
}

.form__container input {
    padding: .8rem;
    margin: .5rem 0;
    color: var(--dark-blue);
    border: 1px solid var(--grayish-blue);
    font-weight: 600;
    border-radius: 5px;
    font-size: .9rem;
    outline: var(--dark-blue);
}

.form__container input:hover {
    border: 1px solid var(--dark-blue);
}

.form__container input::placeholder {
    font-family: var(--font-family);
    color: var(--dark-blue);
    font-weight: 600;
}

.form__container input[data-warning='on']::placeholder {
    color: white;
}

.form__btn {
    padding: 1.2rem;
    text-transform: uppercase;
    background-color: var(--green);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    margin: .5rem 0;
    cursor: pointer;
    outline: none;
}

.form__btn:hover {
    background-color: #60dea7;
}

.text__terms {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    color: var(--grayish-blue);
}

.text__terms em {
    color: var(--red);
    font-style: normal;
}

.warning {
    display: none;
    font-style: italic;
    color: var(--red);
    text-align: right;
    margin-bottom: .5rem;
    font-size: 0.8rem;
}

input[data-warning="on"] + .warning {
    display: block;
}

input[data-warning="on"] {
    margin: 0 0 .3rem 0;
    border: 1px solid var(--red);
    background-image: url('./images/icon-error.svg');
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 950px) {
    body {
        background-image: url('./images/bg-intro-desktop.png');
    } 

    .main {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 80%;
        margin: 0 auto;
    }

    .h2 {
        font-size: 2.5rem;
    }

    .text {
        text-align: left;
        max-width: 480px;
        margin-left: 0;
    }

    .form {
        max-width: 550px;
        padding-top: 0;
        margin: 0 0 0 1.5rem;
    }

    .form__text {
        padding: 1rem 3rem;
    }

    .form__container {
        padding: 2rem;
    }

    .form__container input {
        padding: 1rem;
        font-size: 1.2rem;
        /* margin-bottom: .3rem; */
    }

    .form__btn {
        padding: 1.2rem;
        font-size: 1rem;
    }
}